[submodule "kubernetes"]
	path = kubernetes
	url = https://github.com/jk8s/meetup.git
[submodule "cloud-native-jakarta"]
	path = cloud-native-jakarta
	url = https://github.com/cloudnative-id/cloud-native-jakarta.git
